<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <img src="images/bselogo1.png" alt="bse logo">
        </div>
        <div class="col-xs-6 alignCenter">
            <h1 class="headingBse"><b>Social Media Analytics</b></h1>
        </div>
        <div class="col-xs-3 rightAlign" style="padding-right: 15px">
            <br>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown-toggle hoverGrey" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong class="capitalize2">{{userName}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                             <div class="row">
							<div class="col-xs-12">
							<p class="text-center">
							<span class="fa fa-user fa-5x icon-size dot"></span>
							</p>
							</div>
							</div>
                                <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <p class="text-left capitalize2">
                                            <strong>{{userName}}</strong>
                                        </p>
                                        <!--  email <p class="text-left small">correoElectronico@email.com</p>-->
                                        <p class="text-left">
                                            <a ui-sref="changePassword" style="display: block;"><i class="fa fa-lock"></i>&nbsp;&nbsp;Change Password</a>
                                        </p>
                                        <p class="text-left" ng-show="isSuperUser">
                                            <a ui-sref="parentRequest" style="display: block;"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Requests</a>
                                        </p>
										<p class="text-left" ng-show="isSuperUser">
											<a ui-sref="userAudit" style="display: block;"><i class="fa fa-history"></i>&nbsp;&nbsp;Audit Log</a>
										</p>
                                        <button type="submit" class="btn btn-primary btn-md pull-right">
											<a ui-sref="logout" style="display: block; color: white; text-decoration: none;"><b>Logout</b>
											</a>
										</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
<div class="container">
	<div class="card">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-4"></div>
					<div class="col-xs-3 alignCenter ">
						<h3 class="title1">Audit Log</h3> 
					</div>
				<div class="col-xs-5 rightAlign"><button type="button" class="btn btn-primary pull-right" style="padding: 3px 5px;">
					<a ui-sref="homeParent.home" style="display: block; color: white; text-decoration: none;">Back</a>
				  </button></div>
			</div>
		</div>
	   
	    <div class="row1">
         <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="col-sm-6">
               <div class=" col-xs-3 dataTables_length" id="example1_length">
                  showing  
                  <select ng-model='selected.rowLimit' required  class="form-control input-sm" ng-options=' option for option in rowLimitOptionArray'></select>
                  entries
               </div>
               <div class="col-xs-3"></div>
				<div class="col-xs-6 rightAlign smallFont paddingClass">
					<div class="col-xs-3">From :</div>
					<div class="col-xs-3">
						<input type="text" placeholder="DD-MM-YYYY" class=" form-control dateText" ng-model="startDate" />
					</div>
					
					<div class="col-xs-3 "> To :</div>
					<div class="col-xs-3">
						<input class=" form-control dateText" type="text" placeholder="DD-MM-YYYY" ng-model="endDate" />
					</div>
				</div>
               
            </div>
            <div class="col-sm-6 ">
               <div id="example1_filter" class="smallFont rightAlign">
                  Export <a ng-click="export()"> <img
                     src="/images/xls-icon1.png" height="20px" width="20px"
                     class="img-rounded">
                  </a> <!--a ng-click="exportpdf()"> <img src="/images/pdf-icon2.png"
                     height="20px" width="20px" class="img-rounded">
                  </a--> &nbsp;&nbsp;&nbsp;&nbsp; <label>Search:&nbsp;<input
                     type="text" class="search-query form-control"
                     placeholder="Search" ng-model="searchText" />
                  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                     
               </div>
           </div>
         </div>
      </div>
	    
	    <div class="card-body">
	    <table>
		<thead>
			<tr>
				<!-- <th><input type="checkbox" ng-model="selectAllRequest" ng-click="checkAllRequest()" /></th> -->
				<th>Request Id</th>
				<th>Requested By</th>
				<th>Requested Date</th>
				<th>Actioned By</th>
				<th>Actioned Date</th>
				<th>Existing Value</th>
				<th>Requested Value</th>
				<th>Requested Operation</th>
				<th>Requested Media</th>
				<th>Requested Type</th>
				<th>Status</th>
			</tr>
		</thead>
		<tr dir-paginate="request in list = ( allRequestList  | filter: searchText | orderBy: 'id' | auditDateRangeFilter:startDate:endDate |itemsPerPage:selected.rowLimit )">
			<!-- <td><input type="checkbox" ng-model="request.select" ng-click="requestSetting(request.select)"></td> -->
			<td>{{request.id}}</td>
			<td>{{request.requestedBy}}</td>
			<td >{{request.requestedDate}}</td>
			<td >{{request.actionedBy}}</td>
			<td >{{request.actionedDate}}</td>
			<td ng-show="request.requestedOperation == 'ADD'">{{request.addexistingValue}}</td>
			<td ng-show="request.requestedOperation != 'ADD'">{{request.existingValue}}</td>
			<td ng-show="request.requestType.requestMedia == 'all'">{{request.companyrequestedValue}}</td>
			<td ng-show="request.requestType.requestMedia != 'all'">{{request.requestedValue}}</td>
			<td >{{request.requestedOperation}}</td>
			<td >{{request.requestType.requestMedia}}</td>
			<td >{{request.requestType.requestType}}</td>
			<td >{{request.requestStatus}}</td>
		</tr>
		<tr><td colspan='11' ng-if=" list.length === 0">No Records Found</td></tr>
	</table>
	</div>
	<div class="card-footer">
		<div class="col-xs-12 smallFont">
			<div class="col-xs-4">
	       		<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>
			<div class="col-xs-8 rightAlign">
				<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
			</div>
		</div>
	</div>
	</div> <!-- container fluid -->
</div>
</div>