<div class="container-fluid">
   <div class="card">
      <div class="row1">
         <div class="col-xs-12 alignCenter  ">
            <h3 class="title1">Hindi Company List</h3>
         </div>
      </div>
      <div >
         <div>
            <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
         </div>
      </div>
      <div class="row1">
         <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="col-sm-6">
               <div class="dataTables_length" id="example1_length">
                  showing  
                  <select ng-model='selected.rowLimit' required  class="form-control input-sm" ng-options=' option for option in rowLimitOptionArray'></select>
                  entries
               </div>
            </div>
            <div class="col-sm-6 rightAlign">
               <div id="example1_filter" class="smallFont rightAlign">
                  Export <a ng-click="export()"> <img
                     src="/images/xls-icon1.png" height="20px" width="20px"
                     class="img-rounded">
                  </a> <a ng-click="exportpdf()" ng-show="false"> <img src="/images/pdf-icon2.png"
                     height="20px" width="20px" class="img-rounded">
                  </a> &nbsp;&nbsp;&nbsp;&nbsp; <label>Search:&nbsp;<input
                     type="text" class="search-query form-control"
                     placeholder="Search" ng-model="searchText" />
                  </label>
               </div>
            </div>
         </div>
      </div>
      <div class="card-body">
         <table>
            <thead>
               <tr>
                  <th >Company Full Name</th>
                  <th >Company Abbreviated Name</th>
                  <th >Scrip Code</th>
                  <th >Scrip Id</th>
                  <th >Company Gram(s)</th>
                  <th ng-show="permissions">Edit Gram(s)</th>
               </tr>
            </thead>
            <tr dir-paginate="companyList in list = ( companyLists |filter: searchText| orderBy: 'name' |itemsPerPage:selected.rowLimit )">
               <td>{{companyList.name}}</td>
               <td>{{companyList.abbrName}}</td>
               <td>{{companyList.scripCode}}</td>
               <td>{{companyList.scripId}}</td>
               <td>{{companyList.grams}}</td>
               <td align="center" ng-hide="companyList.isEdit || !permissions">
                  <!-- ||companyList.requested == true -->
                  <button ng-show="!companyList.requested" class="btn btnModified material-icons" ng-click="editGram(companyList,companyList.companyGram)" >mode_edit</button>
                  <label ng-show="companyList.requested">Pending for approval</label>
               </td>
               <td align="center" ng-show="companyList.isEdit" > 
                  <input ng-model="companyList.companyGram"/>
                  <button class="btn btn-success btnModified" ng-disabled="!companyList.companyGram||companyList.companyGram==companyList.grams+',' || companyList.companyGram==companyList.grams" ng-click="doneEditing(companyList)"><b>Save<b></b></button>&nbsp;
                  <button type="button"  class="btn btn-danger btnModified" ng-click="cancel(companyList)" class="close" data-dismiss="modal"><b>Cancel<b></b></button>
               </td>
            </tr>
            <tr>
               <td colspan='6' ng-if=" list.length === 0">No Records Found</td>
            </tr>
         </table>
      </div>
      <div class="card-footer">
         <div class="row1">
            <div class="col-xs-12" >
               <div class="col-xs-4 smallFont">
                  <div class="paddingLeft">
                     <dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
                  </div>
               </div>
               <div class="col-xs-8 rightAlign  smallFont" >
                  <div class="paddingRight">
                     <dir-pagination-controls
                        max-size="10"
                        direction-links="true"
                        boundary-links="true" >
                     </dir-pagination-controls>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>