<div class="container-fluid">
   <div class="card">
      <div class="row1">
         <div class="col-xs-12">
            <div class="col-xs-3 smallFont">
               <button ng-show="permissions" type="button"
                  class="btn btnAdd float-right" ng-click="reset();"
                  data-toggle="modal" data-target="#twitterKeywordModal"
                  data-backdrop="static">
                  <!-- 	<span class="glyphicon glyphicon-plus"></span> -->
                  <i class="fa fa-plus" ng-show="permissions"></i> Add Keyword
               </button>
               &nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-xs-6 alignCenter">
               <h3 class="title1">Twitter
                  Keyword List
               </h3>
            </div>
            <div class="col-xs-3  smallFont paddingBottom">
               <!-- <p ng-show="permissions" class="alignCenter">Add Keyword</p> -->
               <div class="modal fade" id="twitterKeywordModal" role="dialog">
                  <div class="modal-dialog modal-sm">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Add Keyword</h4>
                        </div>
                        <form name="form.modalForm"
                           ng-submit="addingKeyword(twitterKeywordName,twitterKeywordType,orderStatus)"
                           novalidate>
                           <div class="modal-body">
                              <div class="form-group">
                                 <label class="control-label">Type</label> &nbsp <input
                                    type="radio" class="radio-inline"
                                    ng-model="twitterKeywordType" value="SELECTION" required>
                                 Selection &nbsp <input type="radio" class="radio-inline"
                                    ng-model="twitterKeywordType" value="REJECTION">
                                 Rejection<br>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">Keyword</label> &nbsp <input
                                    type="text" class="control-label" name="twitterKeyword"
                                    ng-model="twitterKeywordName" required>
                              </div>
                              <div class="form-group">
                                 <div class="alert alert-danger">
                                    <input type="checkbox" class="control-label"
                                       name="confirmation" ng-model="confirmSubmit" required>
                                    <strong>Warning! </strong> Indicates, once source is added
                                    can't be modified or deleted.
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="submit" class="btn btn-primary pull-left"
                                    ng-disabled="form.modalForm.$invalid">Add</button>
                                 <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="">
         <div>
            <flash-message duration="5000" show-close="true"
               on-dismiss="myCallback(flash);"></flash-message>
         </div>
      </div>
      <!-- <div class="row">
         <div class="col-xs-12 ">
         	<div class="col-xs-7">
         		<div class="col-xs-1 smallFont rightAlign">Search:&nbsp;</div>
         		<div class="col-xs-7 leftAlign">
         			<input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText" />
         		</div>
         		<div class="col-xs-4 smallFont rightAlign">
         			<label class="radio-inline control-label">Status &nbsp &nbsp</label> <input type="radio" ng-model="orderStatus"
         				ng-click="orderByStatus('all')" value="all"><label class="radio-inline control-label">All &nbsp
         			&nbsp</label> <input type="radio" ng-model="orderStatus"
         				ng-click="orderByStatus('active')" value="active"><label class="radio-inline control-label">Active
         			&nbsp &nbsp</label> <input type="radio" ng-model="orderStatus"
         				ng-click="orderByStatus('inactive')" value="inactive"><label class="radio-inline control-label">Inactive</label>
         		</div>
         	</div>
         	<div class="col-xs-5 smallFont ">
         	<div class="col-xs-6 rightAlign">
         		Export <a ng-click="export()"> <img src="/images/xls-icon1.png"
         			height="20px" width="20px" class="img-rounded">
         		</a> <a ng-click="exportpdf()"> <img src="/images/pdf-icon2.png"
         			height="20px" width="20px" class="img-rounded">
         		</a>
         	</div>
         	<div class="col-xs-6  smallFont">
         		<div class="paddingRight">						
         			showing <select ng-model='selected.rowLimit' required
         				ng-options=' option for option in rowLimitOptionArray'></select>
         			entries ( <i class="fa fa-check-circle" style="color: green"
         				aria-hidden="true"> </i> active <i class="fa fa-check-circle"
         				style="color: red" aria-hidden="true"> </i> inactive )
         		</div>
         	</div>	
         </div>
         </div>
         </div>
         -->
      <div class="row1">
         <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="col-sm-3 dataTables_length">
               <div class=" smallFont  ">
                  showing <select ng-model='selected.rowLimit' required
                     class="form-control input-sm"
                     ng-options=' option for option in rowLimitOptionArray'></select>
                  entries ( <i class="fa fa-check-circle" style="color: green"
                     aria-hidden="true"> </i> active <i class="fa fa-check-circle"
                     style="color: red" aria-hidden="true"> </i> inactive )
               </div>
            </div>
            <div class="col-sm-3 smallFont dataTables_length">
               <div id="" >
                  <label class="radio-inline control-label">Status&nbsp;&nbsp;</label>
                  <input type="radio" ng-model="orderStatus" ng-click="orderByStatus('all')" value="all"> 
                  <label class="radio-inline control-label">All &nbsp;&nbsp</label>
                  <input type="radio" ng-model="orderStatus"ng-click="orderByStatus('active')" value="active">
                  <label class="radio-inline control-label">Active&nbsp &nbsp </label> 
                  <input type="radio" ng-model="orderStatus"ng-click="orderByStatus('inactive')" value="inactive">
                  <label class="radio-inline control-label">Inactive</label>
               </div>
            </div>
            <div class="col-sm-6">
               <div id="example1_filter" class="smallFont rightAlign">
                  Export <a ng-click="export()"> <img
                     src="/images/xls-icon1.png" height="20px" width="20px"
                     class="img-rounded">
                  </a> <a ng-click="exportpdf()"> <img src="/images/pdf-icon2.png"
                     height="20px" width="20px" class="img-rounded">
                  </a> &nbsp;&nbsp;&nbsp;&nbsp; <label>Search:&nbsp;<input
                     type="text" class="search-query form-control"
                     placeholder="Search" ng-model="searchText" />
                  </label>
               </div>
            </div>
         </div>
      </div>
      <div class="card-body">
         <table>
            <thead>
               <tr>
                  <th>Keyword</th>
                  <th>Type</th>
                  <th>Created By</th>
                  <th>Last Modified At</th>
                  <th>Status</th>
                  <th ng-show="permissions">Change Status</th>
               </tr>
            </thead>
            <tr
               dir-paginate="twitterKeyword in list = ( twitterKeywordList | orderBy:'keyword' |filter: searchText |itemsPerPage:selected.rowLimit )">
               <td>{{twitterKeyword.keyword}}</td>
               <td>{{twitterKeyword.type}}</td>
               <td>{{twitterKeyword.requestedBy}}</td>
               <td>{{twitterKeyword.approveDate }}</td>
               <td align="center"><i ng-if="twitterKeyword.status"
                  class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                  <i ng-if="!twitterKeyword.status" class="fa fa-check-circle"
                     style="color: red" aria-hidden="true"></i>
               </td>
               <td ng-show="permissions">
                  <button ng-if="twitterKeyword.status && !twitterKeyword.requested"
                     type="button" ng-disabled="twitterKeyword.disabled"
                     class="btn btn-warning btnModified"
                     ng-click="inactiveStatus( twitterKeyword )" style="width: 50px">Deactivate</button>
                  <button
                     ng-if="!twitterKeyword.status && !twitterKeyword.requested"
                     type="button" class="btn btn-info btnModified"
                     ng-disabled="twitterKeyword.disabled"
                     ng-click="activateStatus( twitterKeyword )" style="width: 50px">Activate</button>
                  <label ng-if="twitterKeyword.requested">Pending for
                  approval</label>
               </td>
            </tr>
            <tr>
               <td colspan='6' ng-if=" list.length === 0">No Records Found</td>
            </tr>
         </table>
      </div>
      <div class="card-footer">
         <div class="col-xs-12 smallFont">
            <div class="col-xs-4">
               <dir-pagination-controls
                  template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
            </div>
            <div class="col-xs-8 rightAlign">
               <dir-pagination-controls max-size="10" direction-links="true"
                  boundary-links="true"> </dir-pagination-controls>
            </div>
         </div>
      </div>
   </div>
</div>