<div class="container-fluid">
<div class="card">
      <div class="row1">
         <div class="col-xs-12 alignCenter  ">
            <h3 class="title1">Rumours Video List</h3>
         </div>
      </div>
   
   <!-- .row end -->
	    <div class="row1">
         <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="col-sm-6">
               <div class=" col-xs-3 dataTables_length" id="example1_length">
                  showing  
                  <select ng-model='selected.rowLimit' required  class="form-control input-sm" ng-options=' option for option in rowLimitOptionArray'></select>
                  entries
               </div>
               <div class="col-xs-3"></div>
				<div class="col-xs-6 rightAlign smallFont paddingClass">
					<div class="col-xs-3"></div>
					<div class="col-xs-3">
					</div>
					<div class="col-xs-3 "> </div>
					<div class="col-xs-3">
					</div>
				</div>
            </div>
            <div class="col-sm-6 ">
               <div id="example1_filter" class="smallFont rightAlign">
                  Export <a ng-click="export()"> <img
                     src="/images/xls-icon1.png" height="20px" width="20px"
                     class="img-rounded">
                  </a> <a ng-click="exportpdf()"> <img src="/images/pdf-icon2.png"
                     height="20px" width="20px" class="img-rounded">
                  </a> &nbsp;&nbsp;&nbsp;&nbsp; <label>Search:&nbsp;<input
                     type="text" class="search-query form-control"
                     placeholder="Search" ng-model="searchText" />
                  </label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary pull-right" style="padding: 3px 5px;">
					<a ui-sref="homeParent.videoToText" style="display: block; color: white; text-decoration: none;">Back</a>
				  </button>   
               </div>
           </div>
         </div>
      </div>

   
   <div class="card-body">
   <table>
      <thead>
         <tr>
            <th>Video Name</th>
            <th>Date</th>
            <th>Model Score</th>
            <th>Rumours Keyword</th>
            <th>View</th>
         </tr>
      </thead>
      <tr dir-paginate="request in list = ( videoList  | filter: searchText | orderBy: 'date' |itemsPerPage:selected.rowLimit )">
         <td>{{request.video_name}}</td>
         <td >{{request.date}}</td>
         <td >{{request.score}}</td>
         <td ><li ng-repeat="keyword in request.keywords" style="display:inline"> {{keyword}},</li> </td>
         
         <td >
            <button type="button"  class="btn btn-warning btnModified" ng-click="getVideoAndDisplayRumour(request.date)" style="width:50px">
           	 <a ui-sref="homeParent.videoToText" style="display: block; color: white; text-decoration: none;">View</a>
            </button>
         </td>
      </tr>
      <tr>
         <td colspan='5' ng-if=" list.length === 0">No Records Found</td>
      </tr>
   </table>
   </div>
   <!--     Export <button class="btn btn-info" ng-click="export()">excel</button>
      <button class="btn btn-info" ng-click="exportpdf()">pdf</button> -->
    <div class="card-footer">  
	   <div class="row1">
	      <div class="col-xs-12 smallFont">
	         <div class="col-xs-4">
	            <dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
	         </div>
	         <div class="col-xs-8 rightAlign">
	            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
	         </div>
	      </div>
	   </div>
   </div>
   </div>        
</div><!-- container fluid -->